amqp==5.3.1
annotated-types==0.7.0
anyio==4.11.0
APScheduler==3.6.3
asgiref==3.9.1
asttokens==3.0.0
billiard==4.2.1
cachetools==4.2.2
celery==5.5.3
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron_descriptor==2.0.6
cryptography==45.0.6
decorator==5.2.1
Django==5.2.4
django-celery-beat==2.8.1
django-environ==0.12.0
django-extensions==4.1
django-leaflet==0.32.0
django-qr-code==4.2.0
django-qrcode==0.3
django-timezone-field==7.1
django-widget-tweaks==1.5.0
executing==2.2.0
flatbuffers==25.2.10
gevent==24.11.1
greenlet==3.2.4
gunicorn==23.0.0
h11==0.16.0
h3==4.3.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
ipython==9.4.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
kombu==5.5.4
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
numpy==2.3.2
packaging==25.0
parso==0.8.4
pexpect==4.9.0
pillow==11.3.0
prompt_toolkit==3.0.51
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
pydantic==2.12.3
pydantic_core==2.41.4
Pygments==2.19.2
pyOpenSSL==25.1.0
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-telegram-bot==13.15
pytz==2025.2
redis==6.4.0
requests==2.32.4
segno==1.6.6
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.3
stack-data==0.6.3
timezonefinder==7.0.1
tornado==6.1
traitlets==5.14.3
typing-inspection==0.4.2
typing_extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
urllib3==1.26.20
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.1.3
zope.event==6.0
zope.interface==8.0
